{% extends "_master.html" %}

{% block title %}
  Ehrennadelträger - Archiv Maigesellschaft Derichsweiler
{% endblock %}


{% block content %}

  <h2>Ehrennadelträger</h2>
  
  <table class="table table-sm">
    <thead><tr>
    <th scope="col">Name</th>
    <th scope="col">Jahr der Ehrung</th>
    </tr></thead>
    <tbody>
      {% for entjahr in ehrennadeltraeger %}
        {% for p in entjahr.personen %}
          <tr>
            <td><a href="/person/{{ p.id }}">{{ p }}</a>{% if p.todestag %}&nbsp;†{% endif %}
            </td>
            {% if forloop.first %}
            <td rowspan="{{entjahr.personen|length }}"><a href="/jahr/{{ entjahr.jahr }}">{{ entjahr.jahr }}</a></td>
            {% endif %} 
          </tr>
          {% endfor %}
      {% endfor %}
    </tbody>
  </table>

{% endblock %}