{% extends "master.html" %}

{% block title %}
  Ehrennadelträger - Archiv Maigesellschaft Derichsweiler
{% endblock %}


{% block content %}

  <h1>Ehrennadelträger</h1>
  
  <table id="archiv_ent" style="margin:auto">
    <thead><tr>
    <th>Name</th>
    <th>Jahr der Ehrung</th>
    </tr></thead>
    <tbody>
      {% for x in ehrennadeltraeger %}
        {% for y in x.personen %}
          <tr>
            <td><a href="/person/{{ y.id }}">{{ y }}</a>{% if y.todestag %}&nbsp;†{% endif %}
            </td>
            {% if forloop.counter0 == 0 %}
            <td rowspan="{{x.personen|length }}">{{ x.jahr }}</td>
            {% endif %} 
          </tr>
          {% endfor %}
      {% endfor %}
    </tbody>
  </table>

{% endblock %}