{% extends "_master.html" %}

{% block title %}
  Jahr {{ maijahr.jahr }} Archiv Maigesellschaft Derichsweiler
{% endblock %}

{% block content %}
  <h2>Jahr {{ maijahr.jahr }}</h2>
  <div class="list-group list-group-horizontal position-relative overflow-auto mb-2">
    {% for j in maijahre %}
      <a href="{% url 'jahr' j.jahr %}" id="link{{j.jahr}}" class="list-group-item list-group-item-action {% if j.jahr == maijahr.jahr %} active {% endif %}">{{ j.jahr }}</a>
    {% endfor %}
  </div>
  <div class="container">
    <div class="row gap-3">
      <div class="col order-md-2">
        <div class="d-flex flex-row flex-md-column align-items-center gap-3 gallery">
          {% if maijahr.url_foto_maikoenigspaar %}
            <div data-bs-theme="dark" class="flex-grow-1 card text-center" style="min-width:40%;">
              <a href="{{ maijahr.url_foto_maikoenigspaar }}" class="gallery-link">
                <img src="{{ maijahr.url_foto_maikoenigspaar }}" class="card-img" style="max-height: 60vh;" title="Maikönigspaar {{ maikoenig }} und {{ maikoenigin }}">
              </a>
              <div class="card-img-overlay bg-dark rounded-bottom"  style="--bs-bg-opacity: .7; top:auto; border-top-left-radius: 0; border-top-right-radius: 0;padding:0.25rem;">
                <p class="card-text" style="text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 3; display: -webkit-box;">Maikönigspaar <a href="/person/{{ maikoenig.id }}">{{ maikoenig }}</a> und <a href="/person/{{ maikoenigin.id }}">{{ maikoenigin }}</a></p>
              </div>
            </div>
          {% endif %}
          {% if maijahr.url_vorstandsfoto %}
            <div data-bs-theme="dark" class="flex-grow-1 card text-center" style="min-width:40%;">
              <a href="{{ maijahr.url_vorstandsfoto }}" class="gallery-link">
                <img src="{{ maijahr.url_vorstandsfoto }}" class="card-img" style="max-height: 60vh;" title="Vorstand im Jahr {{ maijahr.jahr }}">
              </a>
              <div class="card-img-overlay bg-dark" style="--bs-bg-opacity: .7; top:auto; border-top-left-radius: 0; border-top-right-radius: 0; padding:0.25rem;">
                <p class="card-text" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">Vorstand im Jahr {{ maijahr.jahr }}</p>
              </div>
            </div>
          {% endif %}
        </div> 
      </div>
      <div class="col-12 col-md-6 order-md-1">
        <table class="table table-sm">
          <thead><tr>
          <th>Amt</th>
          <th>Person</th>
          </tr></thead>
          <tbody>
            {% for x in aemter %}
              {% if x.amt == 'VD' %}
                {%for e in ehrenmitglieder %}
                  <tr>
                    {% if forloop.counter0 == 0 %}
                    <td rowspan="{{ehrenmitglieder|length }}">Ehrenmitglied</td>
                    {% endif %}
                    <td><a href="/person/{{ e.id }}">{{ e }}</a></td>
                  </tr>
                {% endfor %}
              {% endif %}
              {% for p in x.personen %}
                
                <tr>
                  {% if forloop.counter0 == 0 %}
                  <td rowspan="{{x.personen|length }}">{{p.get_amt_display}}</td>
                  {% endif %}
                  <td><a href="/person/{{ p.person.id }}">{{ p.person }}</a></td>
                </tr>
              {% endfor %}
            {% endfor %}
            {% if keinVorstand %} {%for e in ehrenmitglieder %}
            <tr>
              {% if forloop.counter0 == 0 %}
              <td rowspan="{{ehrenmitglieder|length }}">Ehrenmitglied</td>
              {% endif %}
              <td><a href="/person/{{ e.id }}">{{ e }}</a></td>
            </tr>
            {% endfor %}{% endif %}
          </tbody>
        </table>
      </div> 
    </div>
  </div>
  <script type="application/javascript">
    document.getElementById("link{{maijahr.jahr}}").scrollIntoView({
      behavior: "auto",
      block: "end",
      inline: "center"
    });
   </script>
{% endblock %}