{% extends "master.html" %}

{% block title %}
   Maikönigspaare - Archiv Maigesellschaft Derichsweiler
{% endblock %}


{% block content %}

  <h1>Maikönigspaare</h1>
  
  <table class="table table-sm">
    <thead><tr>
    <th>Jahr</th>
    <th>Maikönigspaar</th>
    </tr></thead>
    <tbody>
      {% for x in maikoenigspaare %}
        <tr>
          <td>{{ x.jahr }}</td>
          <td><a href="/person/{{ x.paar.0.person.id }}">{{ x.paar.0.person }}</a> und <a href="/person/{{ x.paar.1.person.id }}">{{ x.paar.1.person }}</a> </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}