{% extends "_master.html" %}
{% load popover_jahre %}

{% block title %}
  {{ person }} Archiv Maigesellschaft Derichsweiler
{% endblock %}


{% block content %}

  <h2>{{ person }}</h2>
  {% if person.todestag %}
    <p>† {{person.todestag|date:"d.m.Y"}}  </p>
  {% endif %}
  <table class="table">
    <thead><tr>
    <th>Amt</th>
    <th>Jahr</th>
    </tr></thead>
    <tbody>
      {% for x in aemter %}
      {% if x.jahre_str %}
        <tr>
          <td>{{ x.amt }} </td>
          <td>
            <a tabindex="0" class="popover-toggle" data-bs-title="zu Jahren" data-bs-html="true" data-bs-trigger="focus" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="{% popover_jahre x.jahre %}">
              {{ x.jahre_str }} 
            </a>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  {% if person.ehrenmitglied_ab %}
  <p>{{ person }} wurde im Jahr {{person.ehrenmitglied_ab|date:"Y"}} zum Ehrenmitglied der Maigesellschaft Derichsweiler ernannt.</p>
  {% endif %}

  {% if person.ehrennadel %}
  <p>{{ person }} wurde 
      {% if ehrennadel_maifest %} 
        auf dem Maifest {{person.ehrennadel|date:"Y"}} 
      {% else %}
        am {{person.ehrennadel|date:"j. F Y"}} 
      {% endif %} die Goldene Ehrennadel der Maigesellschaft Derichsweiler verliehen.</p>
  {% endif %}

{% endblock %}