{% extends "master.html" %}

{% block title %}
  {{ person }} Archiv Maigesellschaft Derichsweiler
{% endblock %}


{% block content %}

  <h1>{{ person }}</h1>
  
  <table class="table">
    <thead><tr>
    <th>Amt</th>
    <th>Jahr</th>
    </tr></thead>
    <tbody>
      {% for x in aemter %}
      {% if x.jahre %}
        <tr>
          <td>{{ x.amt }} </td>
          <td>{{ x.jahre }}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  {% if person.ehrenmitglied_ab %}
  <p>{{ person }} wurde im Jahr {{person.ehrenmitglied_ab|date:"Y"}} zum Ehrennmitglied der Maigesellschaft Derichsweiler ernannt.</p>
  {% endif %}

  {% if person.ehrennadel %}
  <p>{{ person }} wurde am {{person.ehrennadel|date:"j. F Y"}} die Goldene Ehrennadel der Maigesellschaft Derichsweiler verliehen.</p>
  {% endif %}

{% endblock %}